@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web;
@using Microsoft.JSInterop;
@page "/"

    <h1 class="align-text-top">Главное меню</h1>

<div class="row">
    <div class="col ">
        <button class="btn-link">
            <h3>Найти ментора</h3>
        </button>
    </div>
    <div class="col">
        <button class="btn-link">
            <h3>Стать ментором</h3>
        </button>
    </div>
    <div class="col">
        <button class="btn-link">
            <h3>Администрирование</h3>
        </button>
    </div>
</div>

